.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--firstColor);
    margin-bottom: auto;
}

.about-title {
    font-size: 2.5rem;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    min-height: auto;
}

.about-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
}

.about-left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}

.about-img-container {
    position: relative;
    width: calc(100% + 30%);
    max-width: 350px;
    padding: 10px;
}

.about-img-container img {
    position: absolute;
    top: -100px;
    left: -50px;
    width: 100%;
    min-height: 180px;
    border: 0.5px solid #000000;
    box-shadow: -9px 9px 4px 0 rgba(255, 255, 255, 0.3);
}

.about-right {
    width: 100%;
    text-align: justify;
}

.about-right h2 {
    font-size: 2em;
    color: var(--secondColor);
}

.about-right h3 {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    color: #35dcfd;
}

.about-right .about-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    font-size: 0.9em;
}

.about-right .about-presentation p {
    line-height: 1.11rem;
}

.about-btn,
.about-btn-cv {
    display: flex;
    gap: 20px;
}

.about-btn {
    margin-top: 1.2em;
}

.about-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
}

.about-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.about-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 10px;
    width: 80%;
}

.about-box {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 210px;
    border: 0.5px solid var(--firstColor);
    box-shadow: -9px 9px 4px 0 rgba(255, 255, 255, 0.3);
}

.box-1 {
    background: linear-gradient(135deg, #2fc691 0%, #2ad544 100%);
}
.box-2 {
    background: linear-gradient(135deg, #f353b1 0%, #c259e8 100%);
}
.box-3 {
    background: linear-gradient(135deg, #35dcfd 0%, #369cfc 100%);
}
.box-4 {
    background: linear-gradient(135deg, #f8fb4b 0%, #fde249 100%);
}
.box-5 {
    background: linear-gradient(135deg, #d3d3d3 0%, #414141 100%);
}

.about-box h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--thirdColor);
    transform: translateY(0); /* Par défaut, aucune translation */
    transition: transform 0.3s ease-in-out;
}

.title-open {
    padding: 15px;
    transform: translateY(-80px);
    animation: slideTitle 0.31s ease-in-out forwards;
}
@keyframes slideTitle {
    from {
        transform: translateY(80px);
    }
    to {
        transform: translateY(0);
    }
}

.title-closed {
    transform: translateY(80px);
    animation: slideTitleClosed 0.7s ease-in-out forwards;
}
@keyframes slideTitleClosed {
    from {
        transform: translateY(-80px);
    }
    to {
        transform: translateY(0);
    }
}

.about-items {
    width: 100%;
    height: 100%;
    font-size: 80%;
    background-color: var(--fourthColor);
}
.about-items.open {
    animation: slideIn 0.7s ease-in forwards;
}
@keyframes slideIn {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.about-items.closed {
    display: none;
    animation: slideOut 0.7s ease-out forwards;
}
@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(10px);
        opacity: 0;
    }
}

.about-items ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0 0 10px;
}

.about-items ul li {
    font-size: 0.9rem;
}
.about-items ul li:nth-child(2) {
    line-height: 1.2;
}

.about-items__span {
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    .about-container {
        gap: 40px;
    }

    .about-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-img-container {
        display: none;
    }

    .about-right {
        width: 80%;
    }

    .about-subtitles,
    .about-intro,
    .about-btn {
        width: 100%;
        text-align: center; 
    }

    .about-btn {
        justify-content: center;
    }

    .about-bottom {
        margin-top: 0;
    }

    .about-boxes {
        margin-bottom: 20px;
    }

    .about-box {
        width: 80%;
        height: 210px;
    }
}

@media only screen and (max-width: 576px) {
    .about-subtitles h3 {
        width: 70%;
        margin: 0.5em auto 1.2em;
        line-height: 1.2em;
    }

    .about-btn {
        flex-direction: column;
        align-items: center;
    }

    .about-items ul li {
        /* max-width: max-content; */
        font-size: clamp(0.7rem, 1vw, 0.9rem);
    }
}