.contact__bg-desk {
	background-image: url(../assets/pictures/pages/contact/bg/desktop/desk-1.webp);
}

.contact__bg-mobile {
    display: none;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--firstColor);
    width: 70%;
    min-width: 260px;
    max-width: 1200px;
    margin-bottom: auto;
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-introduction {
    width: 100%;
    min-width: 260px;
    max-width: 1200px;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8;
}

.contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    gap: 20px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
}

.form-top,
.form-bottom {
    width: 100%;
}

.form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-left,
.form-right {
    width: 48%;
    gap: 10px;
}

.form-left,
.form-right,
.form-bottom {
    display: flex;
    flex-direction: column;
}

form input,
.form-textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1rem;
    color: var(--firstColor);
    background-color: #202020;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
}

form input {
    height: 60px;
}

.form-textarea {
    resize: none;
    height: 250px;
}

.btn-submit {
    width: 100%;
    box-shadow: 0px 4px 6px rgb(0, 0, 0);
}

.btn-submit:hover {
    color: var(--firstColor);
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

.error {
    display: block;
    display: none;
    margin: 5px 0 10px;
    color: red;
    font-size: 0.8rem;
}

/* Modale */
.contact-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    z-index: 9999;
}

.modal-content {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin: 15% auto;
    padding: 20px;
    font-size: 1rem;
    color: var(--thirdColor);
    background-color: #fefefe;
    border: 1px solid #888;
}

.close-modal {
    cursor: pointer;
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
}

.close-modal:hover,
.close-modal:focus {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1280px) {
    .contact-title {
        font-size: 1.5em;
    }

    .contact-introduction {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1040px) {
    .contact {
        width: 80%;
    }

    .contact-introduction {
        font-size: 1rem;
    }

    .contact-img-container {
        display: none;
    }

    form {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .form-top {
        flex-direction: column;
    }
    
    .form-left,
    .form-right {
        width: 100%;
        gap: 0;
    }
}

@media screen and (max-width: 640px) {
    .contact__bg-desk {
        display: none;
    }
    
    .contact__bg-mobile {
        display: block;
        background-image: url(../assets/pictures/pages/contact/bg/mobile/mobile-1.jpg);
        filter: brightness(100%);
    }
}

@media screen and (max-width: 576px) {
    form {
        margin-bottom: 0.8rem;
    }

    .form-left,
    .form-right {
        width: 100%;
    }
    
    .contact-introduction {
        font-size: 0.9rem;
    }

    form input,
    .form-textarea {
        margin-bottom: 0.8rem;
        padding: 8px 15px;
    }
}