.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--firstColor);
    width: 70%;
    min-width: 260px;
    max-width: 1200px;
    margin-bottom: auto;
}

.contact-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-introduction {
    width: 70%;
    min-width: 260px;
    max-width: 1200px;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8;
}

.contact-container {
    display: flex;
    width: 100%;
    height: max-content;
    gap: 20px;
}

.contact-img-container {
    width: 30%;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.322);
}

.contact-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(15px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    width: 70%;
    min-width: 260px;
    max-width: 1200px;
}

.form-left,
.form-right,
.form-bottom {
    display: flex;
    flex-direction: column;
}

.form-bottom {
    grid-column-start: 1;
    grid-column-end: 3;
}

form input,
.form-textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--firstColor);
    background-color: #202020;
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.322);
}

.form-input {
    height: 50px;
}

.form-textarea {
    resize: none;
    height: 250px;
}

.btn-submit {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.322);
}

.btn-submit:hover {
    color: var(--firstColor);
    background: rgba(255, 255, 255, 0.2);
    transition: 0.3s;

}

@media screen and (max-width: 1280px) {

    .contact-title {
        font-size: 1.5em;
    }

    .contact-introduction {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1040px) {
    .contact-introduction {
        font-size: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }
}

/* @media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

} */