@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--firstColor: #fff;
	--secondColor: #fce300;
	--thirdColor: #000;
	--fourthColor: #202020;
	--fifthColor: #043f95;
	--speed: 500ms;
    --transition: all 0.3s ease-in-out;;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #202020a1;
}
body::-webkit-scrollbar {
	width: 13px;
}
body::-webkit-scrollbar-track {
	background-color: #202020;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
	border-radius: 15px;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--firstColor);
}
body::-webkit-scrollbar-thumb:hover {
	background-color: var(--secondColor);
}

.all-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    min-width: fit-content;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.all-pages-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: brightness(20%);
    background-image: url(../assets/pictures/pages/home/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

/* Pour tous les liens */
a {
	text-decoration: none;
    transition: var(--transition);
}

/* Pour toutes les listes (non ordonnées) */
ul {
	list-style: none;
}

/* Pour tous les boutons de classe .btn */
.btn {
	cursor: pointer;
	min-width: 55px;
	padding: 12px 20px;
	font-size: 0.8rem;
	font-weight: 500;
	text-transform: uppercase;
	color: #222;
	background: var(--secondColor);
	border: 1px solid var(--firstColor);
	border-radius: 10px;
}
.btn:hover {
	color: var(--firstColor);
	background: rgba(255, 255, 255, 0.2);
	transition: 0.3s;
}

/* Pour les boutons de classe .btn-light */
.btn-light {
	color: var(--firstColor);
	background: transparent;
	border-radius: 10px;
}
